<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Positions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../static/js/position.js"
            th:src="@{/js/position.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Должности</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Наименование</th>
                    <th>Кратко</th>
                    <th>Комментарий</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="position : ${allPositions}">
                    <td th:text="${position.id}"></td>
                    <td th:text="${position.name}"></td>
                    <td th:text="${position.shortName}"></td>
                    <td th:text="${position.comment}"></td>
                    <td>
                        <a class="btn btn-sm btn-success btn-position-edit" th:href="${'position/' + position.id}">Редактировать</a>
                        <a class="btn btn-sm btn-danger btn-position-delete" th:href="${'position/' + position.id}">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#position-edit-modal">
                Новая должность
            </button>
        </div>
    </div>
</div>
<!--Edit position modal-->
<div class="modal fade" id="position-edit-modal" tabindex="-1" role="dialog"
     aria-labelledby="position-edit-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Новая должность</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="position-id">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="position-name-desc">Наименование</span>
                    </div>
                    <input type="text" class="form-control" id="position-name" aria-describedby="position-name-desc">
                </div>
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="position-shortname-desc">Кратко</span>
                    </div>
                    <input type="text" class="form-control" id="position-shortname" aria-label="Small" aria-describedby="position-shortname-desc">
                </div>
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="position-comment-desc">Комментарий</span>
                    </div>
                    <input type="text" class="form-control" id="position-comment" aria-label="Small" aria-describedby="position-shortname-desc">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="position-enabled">
                    <label class="form-check-label" for="position-enabled">Используется</label>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary btn-position-save" th:href="@{position}">Сохранить</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>