<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>Скидки и надбавки</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/discountandextracharge/new3.js}"></script>
</head>
<body>
    <div class="container">
        <input type="hidden" id="id" th:value="${id}">
        <h4>Укажите размер и тип (скидка или надбавка)</h4>
        <div class="row">
            <div class="col-sm-4">
                <h5>Метод применения</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type1" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        К полной сумме заказа
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type1" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        С учетом другой скидки
                    </label>
                </div>
                <div class="form-group row">
                    <label for="priority" class="col-sm-6 col-form-label">Приоретет</label>
                    <select id="priority" class="col-sm-2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-8">
                <h5>Тип</h5>
                <div class="row">
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type2" id="discount" value="option1" checked>
                        <label class="form-check-label" for="discount">
                            Скидка
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type2" id="extracharge" value="option2">
                        <label class="form-check-label" for="extracharge">
                            Надбавка
                        </label>
                    </div>
                </div>
                <div class="col-sm-6" >
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type3" id="discount" value="option1" checked>
                            <label class="form-check-label" for="discount">
                                Процент
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type3" id="extracharge" value="option2">
                            <label class="form-check-label" for="extracharge">
                                Фиксированная сумма
                            </label>
                        </div>
                </div>
                </div>
                <div class="form-group row">
                    <label for="value" class="col-sm-3 col-form-label">Процент:</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="value" placeholder="1%">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="allDishes">
                    <label class="form-check-label" for="allDishes">
                        Применять для всех видов блюд
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="onlyInPeriod">
                    <label class="form-check-label" for="onlyInPeriod">
                        Детализировать при печати
                    </label>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Категория</th>
                    <th>Тип</th>
                    <th>Процент</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Кальцоне</td>
                    <td>Не применяется</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <div class="col-sm">
            <p>Комментарий:</p>
            <textarea name="comment" cols="130" rows="3"></textarea>
        </div>
        <div>
            <div class="offset-sm-9 ">
                <button class="btn btn-danger">Отмена</button>
                <button class="btn btn-info">Назад</button>
                <button class="btn btn-success" onclick="next()">Далее</button>
            </div>
        </div>
    </div>
</body>
</html>