<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Скидки и надбавки</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/discountandextracharge/new4.css}"
          href="../static/css/discountandextracharge/new.css"
          rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/discountandextracharge/new4.js}"></script>
</head>
<body>
    <div class="container">
        <input type="hidden" id="id" th:value="${id}">
        <h3>Укажите статус скидки</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="active">
            <label class="form-check-label" for="active">
                Активировать скидку
            </label>
        </div>
        <div>
            <div class="offset-sm-9 ">
                <button class="btn btn-danger">Отмена</button>
                <button class="btn btn-info">Назад</button>
                <button class="btn btn-success" onclick="next()">Далее</button>
            </div>
        </div>
    </div>
</body>
</html>