<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Скидки и надбавки</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/discountandextracharge/stepOne.css}"
          href="../static/css/discountandextracharge/stepOne.css"
          rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/discountandextracharge/stepOne.js}"></script>
</head>
<body>
<div class="container">
    <h3>Основные параметры скидки</h3>
    <h5>Укажите основные параметры скидки</h5>
    <input type="hidden" id="id" th:value="${discount?.id}">
    <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Название:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="name" placeholder="Название" th:value="${discount?.name}">
        </div>
    </div>
    <div class="form-group row">
        <label for="checkName" class="col-sm-3 col-form-label">Название в чеке:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="checkName" placeholder="Название в чеке"
                   th:value="${discount?.checkName}">
        </div>
    </div>
    <div class="form-group row">
        <label for="type" class="col-sm-3 col-form-label">Тип в скидке:</label>
        <div class="col-sm-9">
            <select class="form-control" id="type">
                <option selected="selected" value="Discount and extracharge">Скидки и надбавки</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="acceptManualDiscount"
                       th:checked="${discount?.acceptManualDiscount}">
                <label class="form-check-label" for="acceptManualDiscount">
                    Подтвердить выбор скидки вручную при наличию других скидок
                </label>
            </div>
        </div>
    </div>
    <hr>
    <h2>Ограничения</h2>
    <div class="form-group row">
        <label for="minSum" class="col-sm col-form-label">Сумма заказа не менее:</label>
        <div class="col-sm">
            <input type="number" class="form-control" id="minSum" value="0" th:value="${discount?.minSum}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="acceptOnlyInPeriod">
                <label class="form-check-label" for="acceptOnlyInPeriod">
                    Применять только в период
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                <label class="form-check-label" for="exampleRadios1">
                    По времени печати каждого блюда
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2">
                <label class="form-check-label" for="exampleRadios2">
                    По времени печати первого блюда
                </label>
            </div>
        </div>
    </div>
    <div class="">
        <button class="btn btn-success" onclick="addNewRow()">Добавить</button>
        <button class="btn btn-danger" onclick="deleteRow()">Удалить</button>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Начало</th>
            <th>Окончание</th>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Вс</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr th:each="actionTime : ${discount?.actionTimeList}">
            <td><input type="time" class="beginTime" th:value="${actionTime?.beginTime}"></td>
            <td><input type="time" class="endTime" th:value="${actionTime?.endTime}"></td>
            <td><input type="checkbox" class="monday" th:checked="${actionTime?.monday}"></td>
            <td><input type="checkbox" class="tuesday" th:checked="${actionTime?.tuesday}"></td>
            <td><input type="checkbox" class="wednesday" th:checked="${actionTime?.wednesday}"></td>
            <td><input type="checkbox" class="thursday" th:checked="${actionTime?.thursday}"></td>
            <td><input type="checkbox" class="friday" th:checked="${actionTime?.friday}"></td>
            <td><input type="checkbox" class="saturday" th:checked="${actionTime?.saturday}"></td>
            <td><input type="checkbox" class="sunday" th:checked="${actionTime?.sunday}"></td>
        </tr>
        </tbody>
    </table>
    <div class="offset-sm-10 buttons">
        <a href="#" th:href="@{/discountandextracharge}" class="btn btn-danger">Отмена</a>
        <button class="btn btn-info" onclick="next()">Далее</button>
    </div>
</div>
</body>
</html>