<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Новый приказ</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/newDecree.js}"></script>


</head>
<body>
    <div class="container-fluid">
        <h2>Новый приказ</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group row ">
                    <label for="id" class="d-flex col-sm-6 col-form-label justify-content-end">Номер документа:</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="id" value="0001">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="beginDate" class="d-flex col-sm-6 col-form-label justify-content-end">Дата начала применения:</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="beginDate" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="endDate" class="col-sm-6 col-form-label d-flex justify-content-end">Дата окончания:</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="endDate" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 d-flex justify-content-end">Удалить предыдущее меню:</div>
                    <div class="col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="deletePrevMenu">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row ">
                    <label for="activePeriod" class="d-flex col-sm-6 col-form-label justify-content-end">Период действия приказа:</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="" id="activePeriod">
                            <option th:each="schedule : ${schedules}" th:text="${schedule.getName()}"></option>
                        </select>
                    </div>
                    <button type="button" class="form-control col-sm-1 btn btn-success"  data-toggle="modal" data-target="#schedule" >+</button>
                    <a class="btn btn-info col-sm-1" href="#" th:href="@{/validity}" role="button">...</a>
                </div>
                <div class="form-group row ">
                    <label for="comment" class="d-flex col-sm-6 col-form-label justify-content-end">Комментарий:</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="comment" >
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="nameForIikoFront" class="d-flex col-sm-6 col-form-label justify-content-end">Наименование для IikoFront:</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="nameForIikoFront" >
                    </div>
                </div>
                <div class="form-group row ">
                    <label for="search" class="d-flex col-sm-6 col-form-label justify-content-end">Поиск:</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="search" >
                    </div>
                </div>
            </div>
            <div class="offset-3     col-sm-1 d-flex flex-column">
                <button class="p-2">Дейсвия</button>
                <button class="p-2">Документ</button>
                <button class="p-2">Обновить</button>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Выб</th>
                    <th>Артикул</th>
                    <th>Наименование</th>
                    <th>Цена до...</th>
                    <th>Цена, р.</th>
                    <th>Изменение</th>
                    <th>Плановая наценка</th>
                    <th>Теорит.</th>
                    <th>Себестоимость</th>
                    <th>Себестоимость</th>
                    <th>Блюдо дня</th>
                    <th>Флайерная прорамма</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><input type="checkbox"></td>
                        <td>9131</td>
                        <td>Пицца Маргарита</td>
                        <td>290,00</td>
                        <td>250,00</td>
                        <td>-40,00</td>
                        <td>0</td>
                        <td>807,44</td>
                        <td>27,55</td>
                        <td>11,02</td>
                        <td> <input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-2">
                <button>Выйти без сохранения</button>
            </div>
            <div class="offset-6 col-sm-2">
                <input type="checkbox" class="form-check-input" id="decreeTrue">
                <label class="form-check-label" for="decreeTrue">Приказ действует</label>
            </div>
            <div class="offset-1 ">
                <button class="" onclick="addSchedule()">Сохранить</button>
            </div>
        </div>
    </div>


    <!--Modal window-->
    <div id="schedule" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Новое рассписание</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="scheduleName">Введите название:</label>
                        <input class="form-control" type="text" id="scheduleName" required="required" name="name">
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th><label for="beginTime">Начало</label></th>
                            <th><label for="endTime">Окончание</label> </th>
                            <th><label for="monday">Пн</label> </th>
                            <th><label for="tuesday">Вт</label> </th>
                            <th><label for="wednesday">Ср</label> </th>
                            <th><label for="thursday">Чт</label> </th>
                            <th><label for="friday">Пт</label> </th>
                            <th><label for="saturday">Сб</label> </th>
                            <th><label for="sunday">Вс</label> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="time" id="beginTime" name="beginTime" required="required"/></td>
                            <td><input type="time" id="endTime" name="endTime" required="required"/></td>
                            <td><input type="checkbox" id="monday" name="monday"  /></td>
                            <td><input type="checkbox" id="tuesday" name="tuesday" /></td>
                            <td><input type="checkbox" id="wednesday" name="wednesday" /></td>
                            <td><input type="checkbox" id="thursday" name="thursday" /></td>
                            <td><input type="checkbox" id="friday" name="friday"/></td>
                            <td><input type="checkbox" id="saturday" name="saturday"/></td>
                            <td><input type="checkbox" id="sunday" name="sunday"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" onclick="addSchedule()">Сохранить</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>