<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Периоды действия</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/validity.css}"
          href="../static/css/validity.css"
          rel="stylesheet" media="screen">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/validity.js}"></script>
    <th:block th:include="admin/fragments/menu-header :: head"></th:block>
</head>

<body>
<th:block th:include="/admin/fragments/menu-body :: menu"></th:block>
<div class="container-fluid">
    <h2>Периоды действия</h2>
    <button class="btn btn-success" data-toggle="modal" data-target="#addField">Добавить</button>
    <button class="btn btn-danger" onclick="deleteValidity()">Удалить</button>
    <button class="btn btn-info" onclick="refresh()">Обновить</button>
    <input class="offset-1" type="checkbox">Показвать удаленные
</div>

<div class="container-fluid left-table">
    <div class="row">
        <div class=" col-4">

            <table class="table col-6" id="Schedule-list">
                <thead>
                <tr>
                    <th>Наименование</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="validity : ${validity}" class="item">
                    <td class="viewName" th:text="${validity.nameValidity}"></td>
                    <td>
                        <button  class="btn .btn-primary btn-sm addSchedule" data-toggle="modal" data-target="#Schedule"><span class="fa fa-plus" aria-hidden="true"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-6">
            <h4>Название:</h4>
            <div class="form-group">
                <input type="hidden" />
                <input class="form-control col-4" id="scheduleListName"/>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><label>Начало</label></th>
                    <th><label>Окончание</label></th>
                    <th><label>Пн</label></th>
                    <th><label>Вт</label></th>
                    <th><label>Ср</label></th>
                    <th><label>Чт</label></th>
                    <th><label>Пт</label></th>
                    <th><label>Сб</label></th>
                    <th><label>Вс</label></th>
                </tr>
                </thead>
                <tbody id="showSchedule">

                </tbody>
            </table>
        </div>
    </div>
    <div class="fixed-bottom ">
        <button class="btn btn-success" id="save" onclick="save()">Сохранить</button>
        <button class="btn btn-info" onclick="exit()">Выйти без сохранения</button>
        <button class="btn btn-primary" onclick="saveAndExit()">Сохранить и выйти</button>
    </div>
</div>


<!-------------------------------------------------------------------------------------------------------Modal addAll-->
<div id="addField" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Новое рассписание</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="validityNameAll">Введите название:</label>
                    <input class="form-control" type="text" id="validityNameAll" required="required" name="name">
                    <button type="button" class="btn btn-success addScheduleDown" onclick="addScheduleDown()">Добавить график</button>
                </div>
                <table class="table">
                    <thead>
                    <tr>
            <!--            <th><label for="beginTimeAll">Начало</label></th>
                        <th><label for="endTimeAll">Окончание</label></th>
                        <th><label for="mondayAll">Пн</label></th>
                        <th><label for="tuesdayAll">Вт</label></th>
                        <th><label for="wednesdayAll">Ср</label></th>
                        <th><label for="thursdayAll">Чт</label></th>
                        <th><label for="fridayAll">Пт</label></th>
                        <th><label for="saturdayAll">Сб</label></th>
                        <th><label for="sundayAll">Вс</label></th>-->

                        <th><label>Начало</label></th>
                        <th><label>Окончание</label></th>
                        <th><label>Пн</label></th>
                        <th><label>Вт</label></th>
                        <th><label>Ср</label></th>
                        <th><label>Чт</label></th>
                        <th><label>Пт</label></th>
                        <th><label>Сб</label></th>
                        <th><label>Вс</label></th>
                    </tr>
                    </thead>
                    <tbody id="addScheduleDown">
                    <!--<tr>
                        <td><input type="time" id="beginTimeAll" name="beginTime" required="required"/></td>
                        <td><input type="time" id="endTimeAll" name="endTime" required="required"/></td>
                        <td><input type="checkbox" id="mondayAll" name="monday"/></td>
                        <td><input type="checkbox" id="tuesdayAll" name="tuesday"/></td>
                        <td><input type="checkbox" id="wednesdayAll" name="wednesday"/></td>
                        <td><input type="checkbox" id="thursdayAll" name="thursday"/></td>
                        <td><input type="checkbox" id="fridayAll" name="friday"/></td>
                        <td><input type="checkbox" id="saturdayAll" name="saturday"/></td>
                        <td><input type="checkbox" id="sundayAll" name="sunday"/></td>
                     </tr>-->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" onclick="addField()">Сохранить</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<!--Modal addSchedule-->
<div id="Schedule" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Новое рассписание</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th><label for="beginTime">Начало</label></th>
                        <th><label for="endTime">Окончание</label></th>
                        <th><label for="monday">Пн</label></th>
                        <th><label for="tuesday">Вт</label></th>
                        <th><label for="wednesday">Ср</label></th>
                        <th><label for="thursday">Чт</label></th>
                        <th><label for="friday">Пт</label></th>
                        <th><label for="saturday">Сб</label></th>
                        <th><label for="sunday">Вс</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="time" id="beginTime" name="beginTime" required="required"/></td>
                        <td><input type="time" id="endTime" name="endTime" required="required"/></td>
                        <td><input type="checkbox" id="monday" name="monday"/></td>
                        <td><input type="checkbox" id="tuesday" name="tuesday"/></td>
                        <td><input type="checkbox" id="wednesday" name="wednesday"/></td>
                        <td><input type="checkbox" id="thursday" name="thursday"/></td>
                        <td><input type="checkbox" id="friday" name="friday"/></td>
                        <td><input type="checkbox" id="saturday" name="saturday"/></td>
                        <td><input type="checkbox" id="sunday" name="sunday"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" onclick="addSchedule()">Сохранить</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>