# Eclipse
.classpath
.project
.settings/
/.settings

# Intellij
.idea/
*.iml
*.iws



# Mac
.DS_Store

# Windows
desktop.ini

# Maven
log/
target/
bin/
doc/

# Project
Logs/
Debug_pages/
Libs/
Orders/
hs_err_*
configs/*
*.dat
