<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Добавить номенклатуру</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/nomenclature/nomenclature.css}"
          href="../static/css/nomenclature/nomenclature.css"
          rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/nomenclature/nomenclature.js}"></script>
    <th:block th:include="admin/fragments/menu-header :: head"></th:block>
</head>
<body>
<th:block th:include="/admin/fragments/menu-body :: menu"></th:block>
<h3>Номеклатура</h3>
<div class="">
    <a class="btn btn-secondary" href="/editNomenclature">Добавить</a>
    <button class="btn btn-secondary">Добавить группу</button>
    <button class="btn btn-secondary">Действия</button>
    <button class="btn btn-secondary">Вид</button>
    <button class="btn btn-secondary">Обновить</button>
</div>
<div >
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Название</th>
            <th>Артикул</th>
            <th>Код</th>
            <th>Тип</th>
            <th>Остаток</th>
            <th>Ед. изм.</th>
            <th>Цена р.</th>
            <th>Себестоимость</th>
            <th>Места продаж</th>
            <th>Цвет кнопки</th>
            <th>Время приг. норма</th>
            <th>Время приг. пик</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nomenclatureParentGroup : ${nomenclatureParentGroups}" >
            <td th:text="${nomenclatureParentGroup.name}" class="parentGroup"></td>
            <td></td>
            <td ></td>
            <td th:text="Группа"></td>
            <td>Остаток</td>
            <td>Ед. изм.</td>
            <td>Цена р.</td>
            <td>Себестоимость</td>
            <td>Места продаж</td>
            <td>Цвет кнопки</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>