body {
    background-color: #eeeeee;
}

h3 {
    font-size: 4vh;
}

.discount-detailWhenPrinting-table {
    width: 250vh;
}

.selectEnum {
    width: 40vh;
    margin-left: 4vh;
}
.schedule-name {
    width: 35vh;
}
.schedule-time {
    text-align: center;
    width: 20vh;
}
.schTable {
    width: 150vh;
}