.header {
    background-color: #000;
    color: white;
    height: 22px;
    line-height: 22px;
}

.header-cyan {
    background-color: #74909c;
    color: white;
}

.input-cash, .input-cash-postfix {
    border: transparent;
    outline: transparent;
    width: 100%;
}

.order-table {
    overflow: auto;
    background-color: #fff;
    color: #000;
}

.order-table tr {
    line-height: 25px;
    min-height: 25px;
    height: 25px;
}

.borderless td {
    border: none;
}

.payment-method-table {
    overflow: auto;
    background-color: #fff;
    color: #000;
}

.payment-method-table tr {
    line-height: 25px;
    min-height: 25px;
    height: 25px;

}

.payment-method-table td {
    vertical-align: middle;
}

.order-total-dark {
    background-color: #1a1a1a;
    color: white;
}

.order-total-light {
    background-color: white;
    color: #1a1a1a;
}

.header-menu a {
    color: #000;
    font-size: 36px;
}

.header-menu {
    cursor: pointer;
}

.highlight {
    background-color: #dfe385;
}

.exact-sum,
.do-pay,
.btn-back {
    cursor: pointer;
}

.paid-header {
    background-color: #DCE0E4;
    color: black;
}

.dialer .col {
    padding-left: 2px;
    padding-right: 2px;
}

.dialer .btn-dialer, .btn-dialer-clear, .btn-dialer-delimiter {
    border-radius: 0;
    padding: 30px;
    font-size: 30px;
    font-weight: 600;
    background-color: #404040;
    color: white
        
}

.dialer .btn-dialer-plus {
    border-radius: 0;
    padding: 30px;
    font-size: 30px;
    font-weight: 600;
    background-color: #282828;
    color: white
        
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #1a1a1a;
}

.footer i {
    font-size: 36px;
}