.order_item {
    display: none;
}

body {
    background: #eee;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.divMain{
    margin-left: 10px;
}


.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #F5F5F4;
}

