<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Order</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/style.css}"
          href="../static/css/style.css"
          rel="stylesheet" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.77/jquery.form-validator.min.js"></script>
    <script src="../static/js/order.js" th:src="@{/js/order.js}"></script>
</head>

<body>
<section>
    <div class="row header">
        <div class="col-4">
            <p>Pizza CRM</p>
            <p class="clock-date ml-4 mr-2"></p>
            <p class="clock-hours mx-0 px-0"></p>
            <p class="clock-colon mx-0 px-0">:</p>
            <p class="clock-minutes mx-0 px-0"></p>
        </div>
        <div class="col offset-7 no-margin">
            <p class="header-right">Юлия Савенко</p>
            <span></span>
        </div>
    </div>
    <div class="header-menu">
        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="/logout" th:href="@{/logout}"><i class="fa fa-lock" aria-hidden="true"></i></a>
    </div>
    <div class="row">
        <div class="col-4 no-margin left-panel">
            <div class="left-panel-header">
                <div class="row">
                    <div class="col-3 left-panel-header-item-1">
                        <p><i class="fa fa-align-justify" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-3 left-panel-header-item-2">
                        <p id="orderTime"></p>
                        <p></p>
                    </div>
                    <div class="col-3 left-panel-header-item-3">
                        <p><i class="fa fa-list-alt" aria-hidden="true"></i></p>
                        <p>8567</p>
                    </div>
                    <div class="col-3 left-panel-header-item-3">
                        <p><i class="fa fa-id-card" aria-hidden="true"></i></p>
                        <p>Юлия Савенко</p>
                    </div>
                </div>
                <!--Current order table-->
                <div class="left-panel-body" style="overflow: auto">
                    <table class="table table-sm table-condensed order-table"></table>
                </div>
                <div class="left-panel-body-1">
                    <table>
                        <tr>
                            <td rowspan="2" class="table-td-1" onclick="discountModalShow()">
                                <a href="#" class="discount-extraCharge-modal-show-1">
                                    <p>скидка:</p>
                                    <span id="discount">0</span><span> %</span>
                                    <p>надбавка:</p>
                                    <span id="extraCharge">0</span><span> %</span>
                                </a>
                            </td>
                            <td class="table-td-2">
                                <p>0005 Период 1</p>
                                <p>Основной</p>
                            </td>
                            <td class="table-td-3 first-price">
                                <p>
                                    подытог:
                                </p>
                                <span id="rawTotal">
                                    0
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td-2">
                                <p>
                                    Прейскурант для блюда
                                </p>
                            <td class="table-td-3">
                                <p class="price" id="total">0</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--Dish quantity control-->
                <div class="left-panel-body-2">
                    <a href="#" class="add-quantity"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <a href="#" class="subtract-quantity"><i class="fa fa-minus" aria-hidden="true"></i></a>
                    <a href="#" class="quantity-control-modal-show">123</a>
                    <a href="#" class="remove-selected-dish"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <!-- left-panel -->
        <div class="col-4 no-margin middle-panel">
            <div class="middle-panel-header">
                <ul>
                    <li><a href="#"><i class="fa fa-arrow-left disable" id="backward"
                                       aria-hidden="true"></i></a></li>
                    <li><a href="#" onclick="SearchModalShow()"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-coffee" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-sun-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="middle-panel-body">
                <div id="category">
                    <a class="middle-panel-white category-item" th:each="category : ${categories}"
                       th:text="${category.name}" th:styleappend="'background-color: ' + ${category.color}"
                       th:id="${category.name}" href="#"></a>
                </div>
                <div id="dish"></div>
            </div>
        </div>
        <!-- middle-panel -->
        <div class="col-4 no-margin right-panel">
            <div class="right-panel-header">
                <ul id="head-quick-menu">
                    <li><a href="#" onclick="headerQuickMenu(1)" id="headerQuickMenu-1">I</a></li>
                    <li><a href="#" onclick="headerQuickMenu(2)" id="headerQuickMenu-2">II</a></li>
                    <li><a href="#" onclick="headerQuickMenu(3)" id="headerQuickMenu-3">III</a></li>
                </ul>
            </div>
            <div class="right-panel-body">
                <div class="right-panel-body-1">
                    <a class="middle-panel-yellow" href="#">С собой</a>
                    <a class="middle-panel-yellow" href="#">С собой</a>
                    <a class="middle-panel-yellow" href="#">С собой</a>
                </div>
                <div class="right-panel-body-2">
                    <a class="middle-panel-yellow" href="#">С собой</a>
                    <!--<a class="middle-panel-yellow" href="#">С собой</a>-->
                </div>
                <div class="right-panel-body-3">
                    <!--<a class="middle-panel-yellow" href="#">С собой</a>-->
                    <!--<a class="middle-panel-yellow" href="#">С собой</a>-->
                    <a class="middle-panel-yellow" href="#">С собой</a>
                </div>
            </div>
        </div>
        <!-- right-panel -->
    </div>
    <div class="row">
        <div class="col no-margin">
            <div class="footer">
                <div class="footer-item footer-item-1">
                    <a href="#">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <p>Назад</p>
                    </a>
                </div>
                <div class="footer-item footer-item-1">
                    <a href="#">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        <p>Закрытые заказы</p>
                    </a>
                </div>
                <div class="footer-item footer-item-2 footer-item-3">
                    <a href="#">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="footer-item footer-item-2 ">
                    <a href="#">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>

                <div class="footer-item footer-item-1">
                    <a href="/cashbox" class="open-cashbox">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <p>Касса</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="discount-extraCharge-modal" tabindex="-1" role="dialog"
     aria-labelledby="discount-extraCharge-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row discount-modal-b">
                    <div class="col-4 discount-modal-b-left">
                        <p class="discount-modal-b-left-1">Подытог:</p>
                        <p class="discount-modal-b-left-2" id="rawTotalModal"></p>
                        <span class="discount-modal-b-left-s-1"></span>
                        <span class="discount-modal-b-left-s-1 dmbls-down-span"></span>
                        <p class="discount-modal-b-left-1 dmbls-down-p-1">Итог:</p>
                        <p class="discount-modal-b-left-2 dmbls-down-p-2" id="rawTotalDiscountModal"></p>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12 modal-header-menu">
                                <h4>СКИДКИ</h4>
                            </div>
                        </div>
                        <div class="row" id="discount-extraCharge-modal-item">
                            <div class="col-4" style="padding-left: 5px; padding-right: 5px" onclick="AddDiscount()">
                                <div class="DiscountItem">
                                    <p class="NameDiscount">Скидка</p>
                                    <p class="TypeDiscount">Скидка</p>
                                    <p class="ValueDiscount">50%</p>
                                    <p class="ValueDiscountCount">-124p</p>
                                </div>
                            </div>
                            <div class="col-4" style="padding-left: 5px; padding-right: 5px">
                                <div class="DiscountItem">
                                    <p class="NameDiscount">Скидка</p>
                                    <p class="TypeDiscount">Скидка</p>
                                    <p class="ValueDiscount">50%</p>
                                </div>
                            </div>
                            <div class="col-4" style="padding-left: 5px; padding-right: 5px">
                                <div class="DiscountItem">
                                    <p class="NameDiscount">Скидка</p>
                                    <p class="TypeDiscount">Скидка</p>
                                    <p class="ValueDiscount">50%</p>
                                </div>
                            </div>
                            <div class="col-4" style="padding-left: 5px; padding-right: 5px">
                                <div class="DiscountItem">
                                    <p class="NameDiscount">Скидка</p>
                                    <p class="TypeDiscount">Скидка</p>
                                    <p class="ValueDiscount">50%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row modal-footer-b">
                    <div class="col-10 modal-footer-b-menu">
                        <div class="modal-footer-b-menu-item">
                            <p><i class="fa fa-id-card" aria-hidden="true"></i></p>
                            <p>КАРТА ГОСТЯ</p>
                        </div>
                        <div class="modal-footer-b-menu-item">
                            <p><i class="fa  fa-search" aria-hidden="true"></i></p>
                            <p>НАЙТИ ГОСТЯ</p>
                        </div>
                        <div class="modal-footer-b-menu-item">
                            <p><i class="fa  fa-plus-circle" aria-hidden="true"></i></p>
                            <p>НОВЫЙ ГОСТЬ</p>
                        </div>
                        <div class="modal-footer-b-menu-item">
                            <p><i class="fa fa-file-o" aria-hidden="true"></i></p>
                            <p>ДОБАВИТЬ КУПОН</p>
                        </div>
                    </div>
                    <div class="col-2 modal-footer-b-menu-2">
                        <p onclick="CloseModal()">Удалить</p>
                        <p onclick="SaveModal()">Ок</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quantity control modal -->
<div class="modal fade quantity-control-modal" tabindex="-1" role="dialog"
     aria-labelledby="quantity-control-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="text-center">Количество</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="dish-name text-center my-1"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="col-12 mx-1 px-0">
                                    <input type="text" class="input-quantity text-center mx-0 px-0 py-4 my-0" value=""
                                           readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-num" value="1">1</button>
                                </div>
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-num" value="2">2</button>
                                </div>
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-num" value="3">3</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-num" value="4">4</button>
                                </div>
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-num" value="5">5</button>
                                </div>
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-num" value="6">6</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-num" value="7">7</button>
                                </div>
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-num" value="8">8</button>
                                </div>
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-num" value="9">9</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-delimiter" value=".">,</button>
                                </div>
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-num" value="0">0</button>
                                </div>
                                <div class="col-4 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-clear">X</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col mx-1 px-0">
                                    <input type="text" class="input-dish-unit text-center mx-0 px-0 py-4 my-0"
                                           value="порц" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-plus" value="0.25">0,25</button>
                                </div>
                                <div class="col-6 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-plus" value="0.33">0,33</button>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-plus" value="0.5">0,5</button>
                                </div>
                                <div class="col-6 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-plus" value="0.75">0,75</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-plus" value="1.25">1,25</button>
                                </div>
                                <div class="col-6 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-plus" value="1.33">1,33</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-plus" value="1.5">1,5</button>
                                </div>
                                <div class="col-6 mx-0 px-1">
                                    <button class="btn btn-lg btn-block btn-plus" value="1.75">1,75</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3 mx-0 quantity-control-modal-footer">
                <div class="col text-right">
                    <button type="button" class="btn btn-quantity-save">OK</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-quantity-cancel" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SearchModalЕxpand -->
<div class="modal fade bd-example-modal-lg" id="SearchModalЕxpand" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>РАСШИРЕННЫЙ ПОИСК ТОВАРА</p>
                <div class="container" id="product1">
                    <div class="row product list" id="product">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row footer">
                        <div class="footerInput col-4">
                            <input class="search" id="search-field" placeholder="Поиск"
                                   style="height: 3rem; width: 100%; padding-left: 1rem; font-size: 1rem;"/>
                        </div>
                        <div class="footerSearch col-2 offset-4">
                            <a href="#" onclick="SearchModalShow()"><i class="fa fa-search" aria-hidden="true"></i>
                                <p>Поиск</p></a>
                        </div>
                        <div class="footerCancel col-2">
                            <a href="#" onclick="SearchModalЕxpandHide()">Отмена</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SearchModal -->
<div class="modal bd-example-modal-lg" id="SearchModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>ПОИСК ТОВАРА</p>
                <div class="container">
                    <div class="row">
                        <div class="col-4" style="padding-right: 0px;">
                            <div class="products" id="products1">
                                <ul class="productsItem list" id="productsItem">
                                    <li class="product-search" data-quantity="1">
                                        <p class="name">Ролл</p>
                                        <p class="price">100р</p>
                                        <p class="code">Koд: 1000</p>
                                        <p class="barcode" style="display: none">Koд: 1000</p>
                                        <p class="vendorcode" style="display: none">Koд: 1000</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="searchInput">
                                <input class="search" id="SearchModalInput" placeholder=""/>
                            </div>
                            <div class="searchKey">
                                <div class="searchKeyItem" onclick="SearchProduct(1)"><p>1</p></div>
                                <div class="searchKeyItem" onclick="SearchProduct(2)"><p>2</p></div>
                                <div class="searchKeyItem" onclick="SearchProduct(3)"><p>3</p></div>
                                <div class="searchKeyItem" onclick="SearchProduct(4)"><p>4</p></div>
                                <div class="searchKeyItem" onclick="SearchProduct(5)"><p>5</p></div>
                                <div class="searchKeyItem" onclick="SearchProduct(6)"><p>6</p></div>
                                <div class="searchKeyItem" onclick="SearchProduct(7)"><p>7</p></div>
                                <div class="searchKeyItem" onclick="SearchProduct(8)"><p>8</p></div>
                                <div class="searchKeyItem" onclick="SearchProduct(9)"><p>9</p></div>
                                <div class="searchKeyItem" onclick="SearchProductDelOne()"><i class="fa fa-arrow-left"
                                                                                              aria-hidden="true"></i>
                                </div>
                                <div class="searchKeyItem" onclick="SearchProduct(0)"><p>0</p></div>
                                <div class="searchKeyItem" onclick="SearchProductDel()"><i class="fa fa-times"
                                                                                           aria-hidden="true"></i></div>
                            </div>
                        </div>
                        <div class="col-4" style="padding-left: 0px;">
                            <div class="searchButtom">
                                <a href="#" onclick="SearchAll()" id="SearchAll">Поиск по всем полям</a>
                                <a href="#" onclick="SearchDarCode()" id="SearchDarCode">Штрихкод</a>
                                <a href="#" onclick="SearchCode()" id="SearchCode">Код</a>
                                <a href="#" onclick="SearchVendorCode()" id="SearchVendorCode">Артикул</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row footer">
                        <div class="footerSearch col-4">
                            <a href="#" onclick="SearchModalЕxpandShow()"><i class="fa fa-search"
                                                                             aria-hidden="true"></i>
                                <p>Расширенный поиск</p></a>
                        </div>
                        <div class="footerCancel col-2 offset-6">
                            <a href="#" onclick="SearchModalЕxpandHide()">Отмена</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var quickMenu;

    var searchString = '';

    var options = {
        valueNames: ['nameProduct']
    };

    var listObj = new List('product1', options);

    var option2 = {
        valueNames: ['code', 'barcode', 'vendorcode']
    };

    var listObj2 = new List('products1', option2);

    var searchAll = false;
    var searchDarCode = false;
    var searchCode = false;
    var searchVendorCode = false;

    date = new Date;
    var day = date.getDay();
    if (day == 0) {
        GetQuickMenu(7);
    } else {
        GetQuickMenu(day);
    }

    function SearchProduct(value) {
        searchString = searchString + value;
        $("#SearchModalInput").val(searchString);
        listObj2.search(searchString);
    }

    function SearchProductDel() {
        searchString = '';
        $("#SearchModalInput").val(searchString);
        listObj2.search(searchString);
    }

    function SearchProductDelOne() {
        searchString = searchString.slice(0, -1);
        $("#SearchModalInput").val(searchString);
        listObj2.search(searchString);
    }


    function SearchModalЕxpandShow() {
        $("#SearchModal").modal('hide');
        $("#SearchModalЕxpand").modal('show');
        $.ajax({
            type: "POST",
            url: "/get/dish",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (data) {
                $("#productsItem").empty();
                var dish = data;
                console.log(dish);
                dish.forEach(function (value) {
                    $("#product").append("<div class=\"col-3\"><div class=\"productItem\" data-quantity=\"1\"><p class=\"nameProduct\">" + value.name + "</p><p class=\"costProduct\">" + value.price + "p</p></div></div>");
                });
                listObj = new List('product1', options);
            },
            error: function (e) {
            }
        });
    }

    function SearchModalShow() {
        $("#SearchModalЕxpand").modal('hide');
        $("#SearchModal").modal('show');
        $.ajax({
            type: "POST",
            url: "/get/dish",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (data) {
                $("#productsItem").empty();
                var dish = data;
                console.log(dish);
                dish.forEach(function (value) {
                    $("#productsItem").append("<li class=\"product-search\" data-quantity=\"1\"><p class=\"name\">" + value.name + "</p><p class=\"price\">" + value.price + "р</p><p class=\"code\">Код: " + value.code + "</p><p class=\"barcode\" style=\"display: none\">" + value.barcode + "</p><p class=\"vendorcode\" style=\"display: none\">" + value.vendorCode + "</p></li>");
                });
                listObj2 = new List('products1', option2);
            },
            error: function (e) {
            }
        });
        SearchAll();
    }

    $('#search-field').on('keyup', function () {
        var searchString = $(this).val();
        listObj.search(searchString);
    });

    function SearchModalЕxpandHide() {
        $("#SearchModal").modal('hide');
        $("#SearchModalЕxpand").modal('hide');
    }

    function SearchAll() {
        searchAll = !searchAll;
        if (searchAll) {
            $("#SearchCode").css({"background-color": "#ffff00"});
            $("#SearchDarCode").css({"background-color": "#ffff00"});
            $("#SearchVendorCode").css({"background-color": "#ffff00"});
            option2 = {
                valueNames: ['code', 'barcode', 'vendorcode']
            };
            listObj2 = new List('products1', option2);
            searchDarCode = true;
            searchCode = true;
            searchVendorCode = true;

        } else {
            $("#SearchCode").css({"background-color": "#fff"});
            $("#SearchDarCode").css({"background-color": "#fff"});
            $("#SearchVendorCode").css({"background-color": "#fff"});
            option2 = {
                valueNames: []
            };
            listObj2 = new List('products1', option2);
            searchDarCode = false;
            searchCode = false;
            searchVendorCode = false;
        }
    }

    function SearchDarCode() {
        searchDarCode = !searchDarCode;
        if (searchDarCode) {
            $("#SearchCode").css({"background-color": "#fff"});
            $("#SearchDarCode").css({"background-color": "#ffff00"});
            $("#SearchVendorCode").css({"background-color": "#fff"});
            option2 = {
                valueNames: ['barcode']
            };
            listObj2 = new List('products1', option2);
            searchCode = false;
            searchVendorCode = false;
        } else {
            $("#SearchCode").css({"background-color": "#fff"});
            $("#SearchDarCode").css({"background-color": "#fff"});
            $("#SearchVendorCode").css({"background-color": "#fff"});
            option2 = {
                valueNames: []
            };
            listObj2 = new List('products1', option2);
        }
    }

    function SearchCode() {
        searchCode = !searchCode;
        if (searchCode) {
            $("#SearchCode").css({"background-color": "#ffff00"});
            $("#SearchDarCode").css({"background-color": "#fff"});
            $("#SearchVendorCode").css({"background-color": "#fff"});
            option2 = {
                valueNames: ['code']
            };
            listObj2 = new List('products1', option2);
            searchDarCode = false;
            searchVendorCode = false;
        } else {
            $("#SearchCode").css({"background-color": "#fff"});
            $("#SearchDarCode").css({"background-color": "#fff"});
            $("#SearchVendorCode").css({"background-color": "#fff"});
            option2 = {
                valueNames: []
            };
            listObj2 = new List('products1', option2);
        }
    }

    function SearchVendorCode() {
        searchVendorCode = !searchVendorCode;
        if (searchVendorCode) {
            $("#SearchCode").css({"background-color": "#fff"});
            $("#SearchDarCode").css({"background-color": "#fff"});
            $("#SearchVendorCode").css({"background-color": "#ffff00"});
            option2 = {
                valueNames: ['vendorcode']
            };
            listObj2 = new List('products1', option2);
            searchDarCode = false;
            searchCode = false;
        } else {
            $("#SearchCode").css({"background-color": "#fff"});
            $("#SearchDarCode").css({"background-color": "#fff"});
            $("#SearchVendorCode").css({"background-color": "#fff"});
            option2 = {
                valueNames: []
            };
            listObj2 = new List('products1', option2);
        }
    }

    function GetQuickMenu(day) {
        var index = 1;
        $.ajax({
            type: "GET",
            url: "/get/quickmenu/" + day,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (data) {
                console.log(data);
                $("#head-quick-menu").empty();
                quickMenu = data;
                quickMenu.forEach(function (value) {
                    $("#head-quick-menu").append("<li><a href=\"#\" onclick=\'ChangeQuickMenu(" + index + ")\' id=\"headerQuickMenu-" + index + "\">" + value.name + "</a></li>");
                    index = index + 1;
                });

                $(".right-panel-body-1").empty();
                $(".right-panel-body-2").empty();
                $(".right-panel-body-3").empty();

                quickMenu[0].dishQuickMenu.forEach(function (value) {
                    console.log(value);
                    if (value.position == 1) {
                        $(".right-panel-body-1").append("<a class=\"middle-panel-yellow\" style=\"background-color: " + value.color + " \" href=\"#\">" + value.dish[0].name + "</a>");
                    }
                    if (value.position == 2) {
                        $(".right-panel-body-2").append("<a class=\"middle-panel-yellow\" style=\"background-color: " + value.color + " \" href=\"#\">" + value.dish[0].name + "</a>");
                    }
                    if (value.position == 3) {
                        $(".right-panel-body-3").append("<a class=\"middle-panel-yellow\" style=\"background-color: " + value.color + " \" href=\"#\">" + value.dish[0].name + "</a>");
                    }

                });

                headerQuickMenu(1);
            },
            error: function (e) {
            }
        });
    }

    function ChangeQuickMenu(numMenu) {
        headerQuickMenu(numMenu)
        $(".right-panel-body-1").empty();
        $(".right-panel-body-2").empty();
        $(".right-panel-body-3").empty();
        quickMenu[numMenu - 1].dishQuickMenu.forEach(function (value) {
            if (value.position == 1) {
                $(".right-panel-body-1").append("<a class=\"middle-panel-yellow\" style=\"background-color: " + value.color + " \" href=\"#\">" + value.dish[0].name + "</a>");
            }
            if (value.position == 2) {
                $(".right-panel-body-2").append("<a class=\"middle-panel-yellow\" style=\"background-color: " + value.color + " \" href=\"#\">" + value.dish[0].name + "</a>");
            }
            if (value.position == 3) {
                $(".right-panel-body-3").append("<a class=\"middle-panel-yellow\" style=\"background-color: " + value.color + " \" href=\"#\">" + value.dish[0].name + "</a>");
            }
        });
    }

    function headerQuickMenu(num) {
        var id = "#headerQuickMenu-" + num;
        $("#headerQuickMenu-1").css({"background-color": "#3e4040", "color": "#fff"});
        $("#headerQuickMenu-2").css({"background-color": "#3e4040", "color": "#fff"});
        $("#headerQuickMenu-3").css({"background-color": "#3e4040", "color": "#fff"});
        $(id).css({"background-color": "#dfe487", "color": "#3e4040"});
    }

    function discountModalShow() {
        var price = $("#rawTotal").text();
        $("#discount-extraCharge-modal").modal('show');
        console.log(price);
        $("#rawTotalModal").text(price);
        $("#rawTotalDiscountModal").text(price);
        $.ajax({
            type: "GET",
            url: "/get/discount/" + price,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (data) {
                console.log(data);
                $("#discount-extraCharge-modal-item").empty();
                var discountList = data;
                discountList.forEach(function (value) {
                        var price = $("#rawTotal").text();
                        var newPrise = CountDiscount(value.value, value.discountCalculationMode);
                        console.log(value);
                        $("#discount-extraCharge-modal-item").append(
                            "<div class=\"col-4\" style=\"padding-left: 5px; padding-right: 5px; cursor: pointer;\" onclick=\"AddDiscount(" + value.value + ", \'" + value.discountCalculationMode + "\'" + ")\">\n" +
                            "<div class=\"DiscountItem\">\n" +
                            "<p class=\"NameDiscount\">" + value.name + "</p>\n" +
                            "<p class=\"TypeDiscount\">" + value.type + "</p>\n" +
                            "<p class=\"ValueDiscount\">" + value.value + " %" + "</p>\n" +
                            "<p class=\"ValueDiscountCount\">" + "- " + newPrise + " p" + "</p>\n" +
                            "</div>\n" +
                            "</div>");
                });
            },
            error: function (e) {
            }
        });
    }

    var globalDiscount = 0;

    function AddDiscount(discount, type) {
        var price = $("#rawTotal").text();
        var newPrise;
        if (type == "PERCENT") {
            newPrise = price * (100 - discount) / 100;
        } else {
            newPrise = price - discount;
        }
        $("#rawTotalDiscountModal").text(newPrise);
        globalDiscount = discount;
    }

    function CountDiscount(discount, type) {
        var price = $("#rawTotal").text();
        var newPrise;
        if (type == "PERCENT") {
            newPrise = price * (discount) / 100;
        } else {
            newPrise = discount;
        }
        return newPrise;
    }
    
    function CloseModal() {
        $("#discount-extraCharge-modal").modal('hide');
    }
    
    function SaveModal() {
        $("#discount-extraCharge-modal").modal('hide');
        $("#total").text($("#rawTotalDiscountModal").text());
        $("#discount").text(globalDiscount);

    }

</script>
</body>
</html>
