<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="../static/css/productSearch.css"
          th:href="@{/css/productSearch.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="../static/js/productSearch.js"
            th:src="@{/js/productSearch.js}"></script>
</head>
<body>
<main role="main" class="container-fluid">
    <div class="row mt-2">
        <div class="filter-div col-3" th:each="product : ${products}">
            <button type="button" class="filter-item list-group-item list-group-item-action" th:text="${product.name}"></button>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group mt-2 mb-2">
                    <input id="userInput" type="search" class="form-control" placeholder="Поиск">
                    <div class="input-group-append">
                        <button id="clearUserInput" class="btn" type="button">&times;</button>
                    </div>
                </div>
            </div>
            <div class="col-1 offset-4">
                <button type="button" class="btn-cancel">Отмена</button>
            </div>
        </div>
    </div>
</footer>

</body>
</html>