<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Шкала размеров</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/scaleOfSize.css}" href="../static/css/scaleOfSize.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scaleOfSize.js}"></script>
    <th:block th:include="admin/fragments/menu-header :: head"></th:block>
</head>

<body>
<th:block th:include="/admin/fragments/menu-body :: menu"></th:block>
<div class="container-fluid">
    <div class="row">
        <table class="table table-hover table-responsive">
            <thead>
            <tr class=".info">
                <th>Название</th>
                <th>Название для кухни</th>
                <th>По умолчанию</th>
            </tr>
            </thead>
            <tbody>
            <tr class="order" th:each="scale : ${scale}">
                <td><span class="plus" th:text="${scale.name}">+</span> Обьем бутылок
                </td>
            </tr>
            <tr class="order_item">
                <td>Наименование 1</td>
                <td>Наименование 1</td>
                <td>Наименование 1</td>
            </tr>
            <tr class="order_item">
                <td>Наименование 2</td>
                <td>Наименование 2</td>
                <td>Наименование 2</td>
            </tr>
            <tr class="order">
                <td><span class="plus">+</span> Размер пиццы
                </td>
            </tr>
            <tr class="order_item">
                <td>Наименование 1</td>
                <td>Наименование 1</td>
                <td>Наименование 1</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>