<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>

</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">





            <!-- Table -->
            <table class="table table-striped">
                <tr>
                    <th>id</th>
                    <th>Название</th>
                    <th>Краткое название</th>
                    <th>Основная</th>
                    <th>Код</th>
                </tr>
                <tr th:each="unit : ${allMeasurement}">
                    <td><span th:text="${unit.id}"></span></td>
                    <td><span th:text="${unit.name}"></span></td>
                    <td><span th:text="${unit.description}"></span></td>
                    <td><span th:text="${unit.basic}"></span></td>
                    <td><span th:text="${unit.code}"></span></td>

                    <td>
            </table>

        </div>

        <div class="col-md-6">
            <div th:fragment="content" class="addForm">

                <form role="form" method="post" class="form-group"  th:object="${AddMeasurement}" th:action="@{/measurement/add}" >

                    <div class="form-group">
                        <label for="name"> </label>
                        <input class="form-control" id="name" type="text" placeholder="имя" th:field="${AddMeasurement.name}"/>
                    </div>
                    <div class="form-group">
                        <label for="description">  </label>
                        <input class="form-control" id="description" type="text" placeholder="Краткое описание" th:field="${AddMeasurement.description}"/>
                    </div>

                    <div class="form-group">
                        <label for="basic"> </label>
                        <input class="form-control" id="basic" type="text" placeholder="Основная" th:field="${AddMeasurement.basic}"/>
                    </div>

                    <div class="form-group">
                        <label for="code">  </label>
                        <input class="form-control" id="code" type="text" placeholder="Код" th:field="${AddMeasurement.code}"/>
                    </div>


                    <button type="submit" class="btn btn-success">Добавить</button>
                </form>
            </div>



        </div>

    </div>
</div>


</body>
</html>