<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UnitsOfMeasurement</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://yastatic.net/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>


<div>


    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-mini" data-toggle="modal" data-target="#myModal">
        Добавить
    </button>


    <!-- Drop-down Button  -->
    <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Кнопка <span
                class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Пункт 1</a></li>
            <li><a href="#">Пункт 2</a></li>
            <li class="divider"></li>
            <li><a href="#">Пункт 3</a></li>
        </ul>
    </div>


    <!-- add Modal-->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Название модали</h4>
                </div>
                <div class="modal-body">


                    <form th:id="addForm" role="form" method="post" class="form-group" th:object="${AddUnit}"
                          th:action="@{/measurement/add}">

                        <div class="form-group">
                            <label for="name"> </label>
                            <input class="form-control" id="name" type="text" placeholder="имя"
                                   th:field="${AddUnit.name}"/>
                        </div>
                        <div class="form-group">
                            <label for="description"> </label>
                            <input class="form-control" id="description" type="text" placeholder="Краткое описание"
                                   th:field="${AddUnit.description}"/>
                        </div>

                        <div class="form-group">
                            <label for="basic"> </label>
                            <input class="form-control" id="basic" type="text" placeholder="Основная"
                                   th:field="${AddUnit.basic}"/>
                        </div>

                        <div class="form-group">
                            <label for="code"> </label>
                            <input class="form-control" id="code" type="text" placeholder="Код"
                                   th:field="${AddUnit.code}"/>
                        </div>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button th:form="addForm" type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Unit table-->
<div class="col-md-4">

    <!-- Table -->
    <table class="table table-striped table table-hover table-responsive">
        <tr>
            <!--<th>id</th>-->
            <th>Название</th>
            <th>Краткое название</th>
            <th>Основная</th>
            <th>Код</th>
        </tr>
        <tr th:each="unit : ${allMeasurement}">
            <!--  <td><span th:text="${unit.id}"></span></td>-->
            <td><span th:text="${unit.name}"></span></td>
            <td><span th:text="${unit.description}"></span></td>
            <td><span th:text="${unit.basic}"></span></td>
            <td><span th:text="${unit.code}"></span></td>

            <td>
                <!-- Delete button -->
                <a th:href="@{/measurement/delete/{id}/(id=${unit.id})}"
                   class="btn btn-primary btn-md" role="button">Удалить</a>
            </td>

            <td>
                <!-- Modal update button -->
                <a th:attr="data-target=@{#__${unit.id}__}" class="btn btn-primary"
                   data-toggle="modal">Изменить</a>
            </td>


            <!-- Update Modal -->


            <div th:id="${unit.id}" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Заголовок модального окна -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title">Edit user</h4>
                        </div>

                        <!-- Основное содержимое модального окна -->
                        <div class="modal-body">

                            <form th:id="editForm+${unit.id}" role="form" class="form-group"
                                  method="post" th:action="@{/measurement/update}">


                                <div class="form-group">
                                    <label for="name"> id </label>
                                    <input class="form-control" th:readonly="condition"
                                           id="id" name="id" placeholder="id"
                                           th:value="${unit.id}"/>
                                </div>

                                <div class="form-group">
                                    <label for="name"> Название </label>
                                    <input class="form-control" type="text" id="name"
                                           name="name" placeholder="name"
                                           th:value="${unit.name}"/>
                                </div>

                                <div class="form-group">
                                    <label for="description"> Краткое название </label>
                                    <input class="form-control" type="text" id="description"
                                           name="description" placeholder="description"
                                           th:value="${unit.description}"/>
                                </div>

                                <div class="form-group ">
                                    <label for="basic"> Основная </label>
                                    <input class="form-control" id="basic" type="text"
                                           name="basic" placeholder="password"
                                           th:value="${unit.basic}"/>
                                </div>


                                <div class="form-group ">
                                    <label for="code"> Код </label>
                                    <input class="form-control" id="code" type="text"
                                           name="code" placeholder="password"
                                           th:value="${unit.code}"/>
                                </div>


                            </form>

                        </div>
                        <!-- Футер модального окна -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Закрыть
                            </button>
                            <button th:form="editForm+${unit.id}" type="submit"
                                    class="btn btn-primary">Сохранить
                            </button>
                        </div>

                    </div>
                </div>
            </div>


    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
</body>
</html>