#paymentTypes {
    margin-top: 10rem;
}

.item-active {
    background: #dfe385;
}

.discounts {
    margin-top: 2rem;
}

body {
    background: #eee;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

