body {
    background: #9ab69d;
}

h3 {
    margin-top: 2rem;
    margin-left: 2rem;
}

.container {
    border: 2px solid;
}

.buttons {
    margin-bottom: 2rem;
}

.top-left-column {
    border: 1px solid;
}

.top-right-column {
    border: 1px solid;
}

.table {
    margin-top: 1rem;
}