body {
    background: #eee;
}

h3 {
    margin-top: 2rem;
    margin-left: 2rem;
}

.container {
    border: 2px solid;
}

.checkboxes {
    margin-top: 1rem;
}

.form-check {
    margin-left: 4rem;
}

.buttons {
    margin-bottom: 2rem;
}